<form [ngFormModel]="form" (ngSubmit)="signup()" style="padding:20px">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" ngControl="username" #username="ngForm">
        <div class="alert alert-danger" *ngIf="!username.valid">Username Required</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control" ngControl="password" #password="ngForm">
        <div class="alert alert-danger" *ngIf="!password.valid">Password Required</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>